{% extends "base.html" %}
{% block title %}My Favorite Events{% endblock %}
{% block content %}
<div class="bg-light rounded p-3 mb-3">
    <h3><strong>Events</strong></h3>
    <br>
    <table class='table table-bordered table-hover'>
        <thead class="thead-light">
        <tr>
            <th scope='col'>Start Date</th>
            <th scope='col'>Programme name</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event['PGM_START_DATE'].split(' ')[0] }}</td>
            <td>{{ event['EN_PGM_NAME'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
